    /***************
    * BASIC RESET *
    ***************/
*{
    margin: 0;
    padding: 0;
}
body{
    color:rgba(255,255,255,.9);
}
@media screen and (min-width:340px){
    

/*****************
*    Header      *
*****************/
header{
    position: relative;
    width: 80vw;
    height: 20vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display:flex;
    background: rgba(0,0,0,.7);
}
.logo{
    position: absolute;
    width: 50%;
    height: 100px;
    background:url(../_img/logoAirTech.png) center center/190px no-repeat;
    font-size: 0;
}


.menu{
    position:relative;
    width: 50px;
    height: 50px;
    right: -140px;
}
/*********************
*  efeito botão menu *
*********************/
#btn_menu{
    position: absolute;
    display: none;
}
.menu label{
    position:absolute;
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(24,171,210,.7);
    transition: all .3s linear;
    cursor: pointer;
    z-index: 1;
}
span{
    position: absolute;
    width: 35px;
    height: 5px;
    left: 8.5px;;
    margin-top: 22px;
    background-color: #fff;
    transition: all .3s linear;
}
span:before{
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    left: 0;
    bottom: -14px;
    background-color: #fff;
    transition: all .3s linear;
}
span:after{
    content: '';
    position: absolute;
    width: 35px;
    height: 5px;
    left: 0;
    top: -13px;
    background-color: #fff;
    transition: all .3s linear;
}
#btn_menu:checked ~ span{
    background-color: transparent;
}
#btn_menu:checked ~ span:before{
    transform: translate(0px , -13.5px)rotate(-45deg);
}

#btn_menu:checked ~ span:after{
    transform: translate(0px , 13.5px)rotate(45deg);
}

#btn_menu:checked ~ label{
    border-radius: 50%;
   background: rgba(255,0,0,.7);
}

/******************
*    Menu         *
******************/
.links{
    width: 40%;
    margin: 85px ;
    position: fixed;
    right: -100%;
    background: rgba(0,0,0,.7);
    transition: right .6s linear;
}
.links label{
    display:inline-block;
    position: relative;
    width: 100%;
    padding: 30px;
    flex-grow: 1;
    cursor: pointer;
    font-family: "Arial";
    font-size: 100%;
    transition: all .4s;
    color: #fff;
    z-index: 1;
    background: transparent;
}
#btn_menu:checked ~ .links{
    right: -8%;
}
/*****************
*   Main         *
*****************/
.scroll input{
    display: none;
}
.links label:hover{
    background-color: rgba(255,255,255,.6);
}

.scroll{
    display: flex;
    width: 80vw;
    height:80vh;
    margin: 0 auto;
    overflow: hidden;
}
.sections{
    transition: all .4s ease;
}

.bloco{
    width: 80vw;
    height: 80vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
}
#pg_home{
    background-color: #7fbd42;
    
}
#pg_instalacao{
     background-color: #69f;
   
}
#pg_manutencao{
     background-color:#faa;
   
}
#pg_projeto{
     background-color:#aaa;
    
}
#pg_contato{
     background-color:#414950;
    
}

#rd_home:checked ~ .sections{
    margin-top: 0;
}
#rd_instalacao:checked ~ .sections{
    margin-top: -80vh;
}
#rd_manutencao:checked ~ .sections{
    margin-top: -160vh;
}
#rd_projeto:checked ~ .sections{
    margin-top: -240vh;
}
#rd_contato:checked ~ .sections{
    margin-top: -320vh;
}

 /***********
   *  FOOTER  *
   ***********/

.main-footer{
    position: relative;
    width: 90vw;
    margin: 0 auto;
    bottom: 17vh
    
}

.left-fter{
    position: relative;
    width: 37%;
    height: 70px;
    float: left;
    background: rgba(210,140,10,.8);
    z-index: 1;
}
.left-fter:after{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-top: 70px solid rgba(210,140,10,.8);
    top: 0;
    right: -50px;
    border-right: 50px solid transparent;
    z-index: 1;
}
.right-fter{
    position: relative;
    width: 30%;
    height: 70px;
   float: right;
    padding: 0 50px;
    background: rgba(24,171,210,1);
     z-index: 1;
}

.right-fter::before{
    position: absolute;
    content: "";
    width: 0px;
    height: 0px;
    border-bottom: 70px solid rgba(24,171,210,1);
    top: 0;
    border-left: 50px solid transparent;
    left: -50px;
    z-index: 1;
}

};
/*
footer{
    width: 80vw;
    height: 10vh;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    display: flex;
    background-color: #ccc;
}

*/
